@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container > * {
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 100svh;
  min-width: 50svh;
}

.sidebar-container {
  flex: 1 1 0%;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar-image {
  min-height: 100%;
  min-width: 50svh;
}

.sidebar-credit {
  top: 96%;
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  color: white;
  text-align: center;
}

.logo {
  top: 8%; /* Adjust the top percentage as needed */
  left: 10%; /* Adjust the left percentage as needed */
  max-width: 80%; /* Adjust the max-width percentage as needed */
  max-height: 80%; /* Adjust the max-height percentage as needed */
  transition: transform 0.5s ease; /* Added transition for smooth transformation */
  position: absolute;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  flex: 2 1 0%;
  padding: 1%;
}

.headline-text {
  text-align: justify;
  font-size: 0.725rem;
  max-width: 90%;
  line-height: 2em;
  padding-top: 13%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  padding-top: 1%;
}

.form-input-container {
  margin-top: 7%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  padding-bottom: 2%;
  font-size: 2rem;
}

.small-input-container {
  line-height: 2em;
  display: flex;
  flex-direction: row;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3%;
}

.input-left,
.input-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 45%;
}

.creation-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  max-width: 16%;
  justify-content: center;
  align-items: center;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}

.create-account-button {
  background-color: rgb(220, 233, 222);
  padding: 10%;
  border-radius: 10px;
  text-align: center;
}

.text-bottom {
  padding-top: 8%;
}

@media screen and (max-width: 550px) {
  .container {
    display: block;
    width: 100%;
  }
}
